*{
    margin: 0;
    padding: 0;
}


header{
    max-width: 1140px;
    background: green;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.logo{
    font-size: 28px;
    font-weight: bold;
    color: black;
}
.primary-btn{
    padding: 15px 36px;
    background-color: white;
    color: black;
}
